nav {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

nav > h2 {
  position: relative;
  left: 60;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  cursor: pointer;
}

/******** Items List ******/

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/****** Item  box *********/
.item-box {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  width: 110px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.item-quantity {
  color: #fff;
  background-color: #f0ad4e;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  max-width: 30px;
  position: relative;
  left: 40px;
}

.item-price {
  color: gray;
}

.item-add-button {
  background-color: #5cb85c;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
  height: 20px;
}

.item-minus-button {
  background-color: #d9534f;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

.item-plus-button {
  background-color: #337ab7;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

/****** Shopping Cart ********/

.cart-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.cart-count {
  background-color: blue;
  border-radius: 20px;
  padding: 8px;
}
